/* ./styles/variables.css */

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

:root {
  /* Brand colors */
  --brand-primary: #0067c5;
  --brand-primary--inverted: #ffffff;
  --brand-secondary: #cce1ff;
  --brand-secondary--inverted: #002252;
  /* Typography */
  --font-family-sans-serif: "Source Sans Pro";
  --font-size-base: 24px;
  /* Main Navigation */
  --main-navigation-color: #4f4f4f;
  --main-navigation-color--inverted: #ffff;
}
